<a href="https://colab.research.google.com/github/codigoquant/python_para_investimentos/blob/master/08_An%C3%A1lise_de_Empresas_com_Python_no_Google_Colab_Python_para_Investimentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

# Obtendo e tratando os dados

In [2]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [4]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [5]:
df

      Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     CSTB3   150.00     0.00  ...  8.420670e+09               0.14        31,91%
1     IVTT3     0.00     0.00  ...  1.083050e+09               0.00        20,67%
2     PORP4     2.40     0.00  ...  2.239900e+07               0.00        13,66%
3     MNSA3     0.42     0.00  ... -9.105000e+06              -6.52       -41,11%
4     CSTB4   147.69     0.00  ...  8.420670e+09               0.14        31,91%
..      ...      ...      ...  ...           ...                ...           ...
949   UBBR3    18.00  1466.61  ...  1.031720e+10               0.00        10,58%
950   BIDI4    59.24  2580.97  ...  3.240140e+09               0.00        30,91%
951  BIDI11   180.04  2614.66  ...  3.240140e+09               0.00        30,91%
952   BIDI3    60.95  2655.47  ...  3.240140e+09               0.00        30,91%
953   NTCO3    49.96  4456.81  ...  2.869130e+10               0.49         0,00%

[954 rows x 21 columns]

In [6]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

# Analisando os dados

In [7]:
df = df[df['Liq.2meses'] > 1000000]

In [8]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [9]:
ranking

     pos EV/EBIT   ROIC
0      1  GPIV33  BOAS3
1      2   PSSA3  ATOM3
2      3   MNPR3  WIZS3
3      4   GOAU3  CMIN3
4      5   PCAR3  PSSA3
..   ...     ...    ...
145  146   RAIL3  ESPA3
146  147   BRML3  LINX3
147  148   ELET3  ANIM3
148  149   ELET6  POWE3
149  150   ENEV3  CYRE3

[150 rows x 3 columns]

In [10]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [11]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [12]:
t = pd.concat([a,b])
t

     ABEV3  AGRO3  ALLD3  ALUP11  AMBP3  ...  SULA11  TFCO4  VAMO3  VIVA3  WEGE3
pos    122     73     32      10    136  ...     NaN    NaN    NaN    NaN    NaN
pos     60     59     40      47    114  ...   115.0   36.0   87.0   79.0   24.0

[2 rows x 170 columns]

In [13]:
rank = t.dropna(axis=1).sum()
rank

ABEV3     182
AGRO3     132
ALLD3      72
ALUP11     57
AMBP3     250
         ...
USIM5      86
VALE3      27
VVAR3     180
WIZS3       9
WSON33     96
Length: 130, dtype: int64

In [14]:
rank.sort_values()[:15]

PSSA3      7
WIZS3      9
CMIN3     21
PLPL3     25
MRFG3     25
VALE3     27
TASA4     28
MNPR3     29
AURA33    34
TASA3     34
UNIP3     40
BRKM3     47
UNIP6     48
FHER3     49
BRKM5     52
dtype: int64